<!DOCTYPE html>
<html  lang="en"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Sing Up</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/signin.css" rel="stylesheet"/>
</head>
<body>
<div class="navbar-wrapper">
    <div class="container-fluid" style="padding:0">

        <nav class="navbar navbar-light navbar-static-top" style="background-color: #e3f2fd;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/index">VideoAnalytica</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="active"><a href="/index">Home</a></li>
                        <li><a href="/map">Demo</a></li>
                        <li><a href="/ShareWithYou/templete/about.html">Solutions</a></li>
                        <li><a href="/ShareWithYou/templete/about.html">About Us</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a th:if="${session.userName} != null" th:text="${session.userName}"></a></li>
                        <li><a th:if="${session.userName} != null" href="/logout">Log Out</a></li>
                        <li><a th:if="${session.userName} == null" href="/signin">Sign In</a></li>
                        <li><a th:if="${session.userName} == null" href="/signup">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>


<div class="container">
    <form class="form-signin" action="#" th:action="@{/signup}" th:object="${user}" method="post">
        <h2 class="form-signin-heading">Please sign up:</h2>

        <p class="error-message" th:if="${errorMessage} != null" th:text="${errorMessage}"></p>
        <p class="error-message" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">User Name Error</p>
        <input class="form-control" placeholder="User Name" type="text" th:field="*{userName}" />

        <p class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
        <input class="form-control" placeholder="Password" type="password" th:field="*{password}" />

        <p class="error-message" th:if="${#fields.hasErrors('invitationCode')}" th:errors="*{invitationCode}">Invitation Code Error</p>
        <input class="form-control" placeholder="Invitation Code" type="text" th:field="*{invitationCode}"/>

        <p class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</p>
        <input class="form-control" placeholder="Email" type="text" th:field="*{email}" />

        <p class="error-message" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</p>
        <input class="form-control" placeholder="First Name" type="text" th:field="*{firstName}" />

        <p class="error-message" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</p>
        <input class="form-control" placeholder="Last Name" type="text" th:field="*{lastName}"/>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    </form>
</div>
</body>
</html>